@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  color: rgb(241, 227, 227);
  background: #101010;
}

#wrapper {
  margin-left: 300px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(226, 220, 220);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  position: relative;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: grey;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: black;
  height: 100vh;
  transition: 0.5s;
  display: block;
}

.brand-title {
  margin: 75px 0 60px 55px;
  font-size: 22px;
  font-weight: 300;
}

.side-links li {
  margin: 6px 8px 20px 56px;
  list-style: none;
  font-weight: 300;
  margin-bottom: 50px;
}

.side-links .active {
  color: white;
}

.side-links li a {
  display: inline-block;
  transition: ease 0.4s;
}

.side-links li a:hover {
  color: white;
  transform: translateX(10px);
}

footer {
  margin-top: 140px;
  text-align: center;
  font-weight: 300;

}

footer a {
  opacity: 0.7;
  margin-right: 6px;
}

footer small {
  display: inline-block;
  margin-top: 15px;

}

.main-footer {
  margin: 20px 0;
}

.main-footer div {
  display: none;
}

/* Menu Button */
.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menuButton {
  cursor: pointer;
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 1;
  display: none;
}

/* Close Button */
.closeButton {
  font-size: 50px;
  padding-left: 85%;
  color: whitesmoke;
  cursor: pointer;
  display: none;
}




/* Medium devices and below */

@media (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  #wrapper {
    margin-left: 0;
  }

  .menuButton {
    display: block;
  }

  .closeButton {
    display: block;
  }

}

@media (max-width: 600px) {

  /* Footer */
  .main-footer div {
    display: block;
  }


}


.router-link-active {
font-weight: 900;
border-bottom: #ddd 1px solid;
}

.error {
  color: red;
  margin-top: 5px !important;
}

.dashboard-view {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout {
  right: 0;
  text-align: right;
  font-size: 1.5em;
  margin: 15px;
}